on:
  release:
    types: [published]

name: "Build And Push Docker"

jobs:
  build-and-push-docker:
    name: "Build And Push Docker"

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@master

      - name: "Update tag"
        run: export TAG=`echo ${GITHUB_REF##*/} | sed -e 's/v//'` && sed -i "s/=latest/=${TAG}/g" .env

      - name: "Show .env"
        run: cat .env

      - name: "Install frontend dependencies"
        run: docker-compose run --rm yarn yarn install

      - name: "Build frontend react app"
        run: docker-compose run --rm yarn yarn build

      - name: "Build images"
        run: docker-compose -f docker-compose-build.yml build

      - name: "Login GitHub package registry"
        env:
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: docker login ghcr.io -u $DOCKER_USERNAME -p "$DOCKER_TOKEN"

      - name: "Push images"
        run: "docker-compose -f docker-compose-build.yml push"

      - name: "Cleanup"
        run: rm /home/runner/.docker/config.json
